---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug);
---

<Layout title={post.data.title}>
  <main>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <article>
      {post.content}
    </article>
    <a href="/">Volver a la página principal</a>
  </main>
</Layout>
