/* src/styles/content.css */

.article-content img {
  border-radius: 8px;
  margin-top: 1rem;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.article-content h1 {
  font-size: 2.25rem;
}

.article-content code {
  color: var(--text-color-dark);
}

html.dark .article-content code {
  color: var(--text-color-light);
}

.article-content h2 {
  font-size: 1.875rem;
}

.article-content h3 {
  font-size: 1.5rem;
}

.article-content h4 {
  font-size: 1.25rem;
}

.article-content h5 {
  font-size: 1.125rem;
}

.article-content h6 {
  font-size: 1rem;
}

.article-content hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-color: #999a9b;
}

html.dark .article-content hr {
  border-color: var(--text-color-light);
}

.article-content p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.article-content ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.article-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.article-content li {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.article-content th,
.article-content td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

.article-content pre {
  background: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.875rem;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1a1a1a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
}

.code-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.like-button i {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  padding: 10px;
  border-radius: 50%;
}
.like-button:hover i {
  color: var(--red);
  background-color: rgba(230, 57, 70, 0.1);
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.3);
}

html.light .like-button:hover i {
  color: var(--blue);
  background-color: rgba(0, 123, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.liked i::before {
  color: var(--red) !important;
}

html.light .liked i::before {
  color: var(--blue) !important;
}

.liked i {
  color: var(--red) !important;
  background-color: rgba(230, 57, 70, 0.1);
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.3);
}

html.light .liked i {
  color: var(--blue) !important;
  background-color: rgba(0, 123, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

#heart-icon {
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
