---
title: "About Me"
import Layout from '../layouts/Layout.astro';
---


<Layout>
    <section class="about-section py-8 px-4">
    <h1 class="text-4xl font-bold mb-4">About Me</h1>
    <p class="text-lg">
        Hi, I'm [Your Name], a passionate developer with expertise in [your expertise area]. 
        I have experience working with [languages, frameworks] and love to share knowledge through my projects and tutorials.
    </p>
    </section>
</Layout>
