---
title: "About Me"
import ThemeSwitcher from '../components/ThemeSwitcher.astro';

---


<section class="about-section">

    <div class="about-header">
      <ThemeSwitcher />
    </div>
    <h1 class="about-title">👋 Hello! I'm Daniel Hernández</h1>
    <p class="about-description">
      I am a Full Stack Developer with 4 years of experience in creating web and mobile applications. My primary focus is on agile development and following best practices to write clean and maintainable code. I am passionate about solving complex problems and building scalable solutions.
    </p>

    <a href="https://www.linkedin.com/in/daniel-hernandez-puerto-57a093194/" class="about-link">Connect with me on LinkedIn</a>
  </section>