---
import Layout from '../layouts/Layout.astro';
import About from './about.astro';
import Contact from './contact.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';  // Importar el nuevo componente

const posts = await getCollection('posts');

// Ordenar los posts por fecha de manera descendente
const sortedPosts = posts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

// Obtener solo las dos últimas publicaciones ya ordenadas por fecha
const latestPosts = sortedPosts.slice(0, 2);
---

<Layout title="Welcome to My Newsletter">
  <main class="main-content">
    <section id="about" class="about-section">
      <About />
    </section>

    <section class="latest-posts-section">
      <h2 class="posts-heading">Latest Articles</h2>
      <p class="posts-description">Explore my recent posts on web development, tutorials, and more.</p>

      <ul class="link-card-grid">
        {latestPosts.map(post => (
          <Card
            href={`/posts/${post.slug}`}
            title={post.data.title}
            body={post.data.description}
          />
        ))}
      </ul>

      <div class="see-more-wrapper">
        <a href="/newsletter" class="see-more-btn">View All Posts</a>
      </div>
    </section>

    <!-- Renderizamos el contenido de la sección de "Contact" -->
    <section id="contact" class="contact-section">
      <Contact />
    </section>
  </main>
</Layout>


