---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';  // Importar el nuevo componente

const posts = await getCollection('posts');
---

<Layout title="Welcome to My Newsletter">
  <main>
    <p>Explore the latest posts below:</p>
    <ul class="link-card-grid">
      {posts.map(post => (
        <Card
          href={`/posts/${post.slug}`}
          title={post.data.title}
          body={post.data.description}
        />
      ))}
    </ul>
  </main>
</Layout>
