---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/contact.astro';
import About from '../components/About.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Hero from '../components/Hero.astro';
import Posts from '../components/Posts.astro';
import Services from '../components/Services.astro';

---

<Layout 
  title="Redom69"
  description='Desarrollador full stack. Especializado en React y NodeJS'
>
  <main class="px-4">

    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">

      <SectionContainer id="newsletter">
        <TitleSection>
          Newsletter
        </TitleSection>
        <Posts/>
      </SectionContainer>
      <SectionContainer id="services">
        <TitleSection>
          Servicios
        </TitleSection>
        <Services/>
      </SectionContainer>
      
      <SectionContainer id="about">
        <TitleSection>
          Sobre mí
        </TitleSection>
        <About/>
      </SectionContainer>

      <SectionContainer id="contacto">
        <TitleSection>
          Contacto
        </TitleSection>
        <Contact />
      </SectionContainer>

    </div>
  </main>
</Layout>

