---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Hero from '../components/Hero.astro';
import Posts from '../components/Posts.astro';
import Services from '../components/Services.astro';
import Contact from '../components/contact.astro';
import Mail from '../components/icons/Mail.astro';
import Person from '../components/icons/Person.astro';
import Work from '../components/icons/Work.astro';
import NewsletterIcon from '../components/icons/NewsletterIcon.astro';

---

<Layout 
  title="Code2Learn"
  description='The best way of learning is coding.'
>
  <main class="px-4">

    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">

      <SectionContainer id="newsletter">
        <TitleSection>
          <NewsletterIcon class="size-8" />
          Newsletter
        </TitleSection>
        <Posts/>
      </SectionContainer>
      
      <SectionContainer id="services">
        <TitleSection>
          <Work class="size-8" />
          Servicios
        </TitleSection>
        <Services/>
      </SectionContainer>
      
      <SectionContainer id="about">
        <TitleSection>
          <Person class="size-8" />
          Sobre mí
        </TitleSection>
        <About/>
      </SectionContainer>

      <SectionContainer id="contacto">
        <TitleSection>
          <Mail class="size-8" />
          Contacto
        </TitleSection>
        <Contact />
      </SectionContainer>

    </div>
  </main>
</Layout>

