---
// Importar el layout y componentes
import Layout from '../layouts/Layout.astro';

// Definir los servicios en un array
const services = [
  {
    title: "Desarrollo Web",
    description: "Transformo diseños establecidos en experiencias web de alto impacto, creando sitios bien estructurados, rápidos y optimizados para el usuario. Con un enfoque en las mejores prácticas de desarrollo, soy experto en React y Angular, asegurando soluciones escalables, modernas y de calidad profesional. ¡Convierto tus ideas en productos digitales excepcionales!",
    image: '/web.webp'

  },
  {
    title: "Desarrollo de API",
    description: "Desarrollo APIs poderosas y escalables que conectan y optimizan la comunicación entre sistemas y aplicaciones. Experto en NodeJS y NestJS, diseño soluciones eficientes que garantizan alto rendimiento, seguridad y facilidad de integración en cualquier entorno.",
    image: '/back.webp'
  },

  {
    title: "Implementación de Bases de Datos",
    description: "Diseño e implemento bases de datos altamente eficientes y escalables, optimizadas para almacenar y gestionar los datos más críticos de tu negocio. Con experiencia en PostgreSQL, MongoDB y MySQL, garantizo soluciones robustas, seguras y adaptadas a las necesidades de cada proyecto.",
    image: '/bbdd.webp'
  },
  {
  title: "Soluciones Cloud Especializadas en Azure",
  description: "Ofrezco soluciones cloud integrales y especializadas en Azure, diseñadas para optimizar la infraestructura, mejorar la escalabilidad y garantizar la seguridad de tus sistemas en la nube. Con experiencia en la implementación y gestión de servicios Azure, puedo ayudarte a aprovechar todo el potencial de esta plataforma.",
  image: '/azure.webp'
  },
];
---

<Layout   
  title="Servicios"
  description='Todo lo que te puedo ofrecer como desarrollador full-stack.'
>
<main class="px-4">
  <div class="space-y-24"></div>
  <section class="services-section py-8 px-4">
    <h1 class="services-title text-4xl font-bold mb-4 text-[var(--text-color-dark)] dark:text-[var(--text-color-light)]">Nuestros Servicios</h1>
    <p class="services-description text-lg mb-4 text-[var(--text-color-dark)] dark:text-gray-300">
      En esta sección te presento los servicios que ofrezco, diseñados para cubrir todas tus necesidades tecnológicas.
    </p>

    <div class="services-grid ">
      {services.map(service => (
        <div class="service-box" >
          <img src={service.image} alt={service.title} class="service-image mb-2" loading="lazy"/>
          <h3 class="text-2xl py-4 font-bold text-[var(--text-color-dark)] dark:text-[var(--text-color-light)]">{service.title}</h3>
          <p class=" text-lg mb-4 text-[var(--text-color-dark)] dark:text-gray-300">
            {service.description}</p>
        </div>
      ))}
    </div>
    <div
      class=" py-6 [&>p]:mb-4 [&>p>strong]:text-[var(--red)] dark:[&>p>strong]:text-[var(--red)] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p><strong>Para cualquier otro tipo de servicio</strong>, no dudes en contactarme. Estoy disponible para explorar tus necesidades y encontrar la mejor solución personalizada para ti.</p>
    </div>
  </section>
 
</div>
</main>
</Layout>

<style>
/* Estilos generales para la sección de servicios */
.services-section {
  padding: 2rem;
  padding-top: 100px;
  border-radius: 12px;
  max-width: 1000px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

/* Título de los servicios */
.services-title {
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 2rem;
}
html.dark .services-title {
  color: var(--text-color-light);
}

/* Descripción de los servicios */
.services-description {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color-dark);
}

html.dark .services-description {
  color: var(--text-color-light);
}

/* Estilos de la cuadrícula de servicios */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 50px; /* Espacio entre los boxes */
}

/* Estilos para cada box de servicio */
.service-box {
  background-color: #f9f9f9; /* Color de fondo */
  border: 1px solid #e0e0e0; /* Borde */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 16px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

html.dark .service-box {
  background-color: #2a2f3e; /* Fondo oscuro en modo dark */
  border-color: var(--dark-blue); /* Borde oscuro en modo dark */
}

.service-box:hover {
  transform: translateY(-5px); /* Efecto hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html.dark .service-box:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Imagen dentro del box de servicio */
.service-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegura que la imagen no desborde */
  height: auto; /* Mantiene la proporción */
  border-radius: 12px; /* Bordes redondeados para las imágenes */
}

/* Estilos de los títulos y descripciones dentro de los boxes */
.service-box h3 {
  font-size: 1.5rem;
  color: var(--dark-blue); /* Color del título */
  margin-bottom: 0.5rem;
}

html.dark .service-box h3 {
  color: var(--text-color-light); /* Color del título en modo oscuro */
}

.service-box p {
  color: #555; /* Color de la descripción */
}

html.dark .service-box p {
  color: #CCCCCC; /* Color de la descripción en modo oscuro */
}

/* Responsividad */
@media (max-width: 768px) {
  .services-title {
    font-size: 2.5rem;
  }

  .services-description {
    font-size: 1rem;
  }

  .service-box h3 {
    font-size: 1.25rem;
  }

  .services-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    
  }
}
</style>
