---
import React from "../components/icons/React.astro"
import Typescript from "../components/icons/Typescript.astro"
import Mongo from "../components/icons/Mongo.astro"
import Css from "../components/icons/Css.astro"
import Postgres from "../components/icons/Postgres.astro"
import Azure from "../components/icons/Azure.astro"
import Html from "../components/icons/Html.astro"
---

<article class="flex flex-col items-center justify-center gap-8 text-[var(--text-color-dark)] dark:text-[var(--text-color-light)] md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[var(--red)] dark:[&>p>strong]:text-[var(--red)] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Daniel Hernandez y soy <strong>desarrollador full-stack</strong>. Actualmente estoy trabajando como desarrollador full-stack <strong>especializado en el stack MERN</strong>. Cuento con amplia experiencia en <strong>React, TypeScript, NodeJS, PostgreSQL</strong>, <strong>MongoDB</strong> y <strong>Docker</strong>, tecnologías que domino y aplico en proyectos complejos.
  </p>
  
  <p>
    He trabajado tanto en el mundo de la consultoría, ocupando el rol de <strong>arquitecto de front-end</strong>, como en varios clientes finales. En estos proyectos, he <strong>implementado soluciones optimizadas</strong> en arquitecturas preexistentes y <strong>desarrollado sistemas desde cero</strong>, adaptándome a los requerimientos específicos de cada cliente.
  </p>
  
  <p>
    Mi objetivo es <strong>seguir aprendiendo y formándome</strong> en las nuevas tendencias tecnológicas, además de <strong>compartir mis conocimientos</strong> con otros desarrolladores, contribuyendo a la comunidad y promoviendo el crecimiento del equipo en el que trabajo.
  </p>
  </div>

  <img width="200" height="200" src="/profile.jpg" alt="Daniel Hernandez" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<div class="flex flex-wrap gap-2 mt-4">
  <React/>
  <Typescript/>
  <Azure/>
  <Postgres />
  <Mongo/>
  <Css/>
  <Html/>
</div>
