<div class="flex items-center ">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E63946_0%,#374364_50%,#E63946_100%)]"
    ></span>
    <!-- Contenido del botón con diferentes estilos para modo claro y oscuro -->
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-[#1D1D1D] bg-[#F8D7DA] rounded-full cursor-pointer  dark:bg-[#F4A4AB] backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</div>
