---

interface Props {
  href: string;
  title: string;
  image?: string;
}

const { href, title, image } = Astro.props;
---
<a href={href} class="card">
  {image && (
    <img src={image} alt={title} class="card-image" />
  )}
  <h3>{title}</h3>
</a>


<style>
.card {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #1b1b2f; /* Color de fondo */
  transform: rotate(-5deg); /* Rotación inicial */
  transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
}

.card:hover {
  transform: rotate(0deg); /* Rotación de vuelta a 0 cuando pasa el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda la tarjeta sin deformarse */
}

.card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 1.2rem;
}

.card p {
  display: none; /* Puedes hacer que la descripción aparezca en otro contexto o en hover si lo prefieres */
}

.card a {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  text-decoration: underline;
}

</style>
