---
interface Props {
  href: string;
  title: string;
  body: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} class="card">
  <h3>{title}</h3>
  <p>{body}</p>
</a>

<style>
  .card {
    border: 1px solid rgba(var(--accent-light), 25%);
    background: rgba(var(--accent-dark), 50%);
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card h3 {
    margin: 0 0 0.5rem;
    text-align: left; /* Asegura que el título también esté alineado a la izquierda */
  }

  .card p {
    margin: 0;
    text-align: left; /* Asegura que el cuerpo del texto también esté alineado a la izquierda */
  }
</style>
