<!-- components/Footer.astro -->
<footer>
  <p>© 2024 Daniel Hernandez Puerto | FullStack Developer</p>
  <a href="https://www.linkedin.com/in/daniel-hernandez-puerto-57a093194/">LinkedIn</a> |
  <a href="https://github.com/redom69">GitHub</a>
</footer>


<style>
  .footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--background-color-dark);
    color: var(--text-color);
    font-size: 0.9rem;
  }
</style>
