---
import { Github, Linkedin, User, Newspaper, Mail } from 'lucide-react';
import ThemeSwitcher from './ThemeSwitcher.astro';

const pages = [
  { name: "Sobre mí", url: "/about" },
  { name: "Newsletter", url: "/newsletter" },
  { name: "Contacto", url: "/contact" },
];
---
<header class="navbar">
  <div class="navbar-start">
    <div class="menu-icon lg:hidden">
      <label for="my-drawer">
        <svg width="1em" height="1em" viewBox="0 0 24 24" class="w-7 h-7" data-icon="pixelarticons:dashboard">
          <use xlink:href="#ai:pixelarticons:dashboard"></use>
        </svg>
      </label>
    </div>

    <a href="/" class="brand-logo">
      redom69.dev
    </a>
  </div>

  <div class="navbar-center lg:flex hidden">
    <a class="nav-item" href="/#about">
      <User size={24} class="icon" />
      <span>Sobre mí</span>
    </a>
    <a class="nav-item" href="/newsletter">
      <Newspaper size={24} class="icon" />
      <span>Newsletter</span>
    </a>
    <a class="nav-item" href="/#contact">
      <Mail size={24} class="icon" />
      <span>Contacto</span>
    </a>
  </div>

  <div class="navbar-end">
    <div class="actions">
      <!-- Icono de GitHub -->
      <a class="social-icon" href="https://github.com/redom69" title="GitHub">
        <Github size={24} />
      </a>

      <!-- Icono de LinkedIn -->
      <a class="social-icon" href="https://www.linkedin.com/in/daniel-hernandez-puerto-57a093194/" title="LinkedIn">
        <Linkedin size={24} />
      </a>

      <ThemeSwitcher />
    </div>
  </div>
</header>
