---
import { Github, Linkedin, User, Newspaper, Mail } from 'lucide-react';

const pages = [
  { name: "Sobre mí", url: "/about" },
  { name: "Newsletter", url: "/newsletter" },
  { name: "Contacto", url: "/contact" },
];
---
<header class="navbar">
  <div class="navbar-start">

    <a href="/" class="brand-logo">
      redom69.dev
    </a>
  </div>

  <div class="navbar-center lg:flex hidden">
    <a class="nav-item" href="/#about" aria-label="Sobre mí">
      <User size={24} class="icon" />
      <span>Sobre mí</span>
    </a>
    <a class="nav-item" href="/newsletter" aria-label="Newsletter">
      <Newspaper size={24} class="icon" />
      <span>Newsletter</span>
    </a>
    <a class="nav-item" href="/#contact" aria-label="Contacto">
      <Mail size={24} class="icon" />
      <span>Contacto</span>
    </a>
  </div>

  <div class="navbar-end">
    <div class="actions">
      <!-- Icono de GitHub -->
      <a class="social-icon" href="https://github.com/redom69" title="GitHub" aria-label="GitHub">
        <Github size={24} />
      </a>

      <!-- Icono de LinkedIn -->
      <a class="social-icon" href="https://www.linkedin.com/in/daniel-hernandez-puerto-57a093194/" title="LinkedIn" aria-label="LinkedIn">
        <Linkedin size={24} />
      </a>

    </div>
  </div>
</header>
