<a href="#" class="text-xs hover:bg-[#DD0031]/40 bg-accent/60 dark:bg-accent/30 font-bold inline-flex items-center my-1.5 px-2.5 rounded me-2 border border-accent tooltip tooltip-bottom tooltip-primary" style="text-decoration: none">
    <svg width="1em" height="1em" viewBox="0 0 128 128" class="p-0.5 w-5 h-5 mr-2" data-icon="devicon:angular">
      <symbol id="ai:devicon:angular"><path fill="#DD0031" d="M64 0L6.31 11.9l9.23 79.64L64 128l48.46-36.46L121.69 11.9z"></path><path fill="#C3002F" d="M64 0v22.42h39.31L64 128l48.46-36.46L121.69 11.9z"></path><path fill="#FFF" d="M64 22.42h-19.5L64 105.6l19.51-83.18zm-1.29 43.13h10.7L64 49.85l-9.11 15.7z"></path></symbol>
      <use xlink:href="#ai:devicon:angular"></use>
    </svg>Angular
  </a>
  