<a href="#" class="text-xs hover:bg-[#E63946]/40 bg-accent/60 dark:bg-accent/30 font-bold inline-flex items-center my-1.5 px-2.5 rounded me-2 border border-accent tooltip tooltip-bottom tooltip-primary" style="text-decoration: none">
    <svg width="1em" height="1em" viewBox="0 0 128 128" class="p-0.5 w-5 h-5 mr-2" data-icon="devicon:typescript">
      <symbol id="ai:devicon:typescript">
        <g fill="#3178C6">
          <rect x="0" y="0" width="128" height="128" rx="20"></rect>
          <path d="M40 50h60v5H40zm0 10h60v5H40zm0 10h60v5H40zm0 10h60v5H40zm0 10h60v5H40zm0 10h60v5H40z"></path>
          <text x="50%" y="50%" fill="#FFF" font-size="45" text-anchor="middle" dy=".35em">TS</text>
        </g>
      </symbol>
      <use xlink:href="#ai:devicon:typescript"></use>
    </svg>
    TypeScript
  </a>