---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/canva/pixelarticons/pixelarticons.css">

    <title>{Astro.title}</title>
  </head>
  <body>
    <div class="main-layout">
      <Navbar />
      <main class="content-container">
        <slot /> <!-- Esto es donde va el contenido de cada página -->
      </main>
      <Footer />
    </div>
  </body>
</html>
